name: dd_first_pipeline
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  buildrun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          echo "hello world"

